/*CSS Globales*/
.navbar{
    background-color: #262b40;
}

.seccion-fondo-claro{
    background-color: #B8D9FF;
    min-height: 100vh;           
    width: 100%;
}

/*CSS de lista_visitas.html*/
.seccion-bienvenida{
    background-color: #004CA3;
    padding: 10px;
    display: flex;
    border-top: gray 2px solid;
}

.seccion-listado{
    background-color: #B8D9FF;
    padding: 10px;
    min-height: calc(100vh - 80px);
}

.contenedor-imagen img{
    border-radius: 40px;
    border:#B8D9FF 4px solid;
}

.contenedor-texto{
    color: white;
}

.contenedor-texto h2 {
    font-display: center;
}

.contenedor-formulario {
    background-color: whitesmoke;
    border-radius: 40px;
}

.contenedor-tabla{
    border-radius: 20px;
}

/*Pie de pagina (footer)*/
.pie-pagina{
    background-color: #013c80; 
    border-top: solid grey 3px; 
    color: white;
    padding: 20px;
    min-height: 250px;
}

.footer-text{
    margin-bottom: 10px;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13,110,253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.copyright{
    font-size: 15px;
    color: #c7c6c6;
    padding: 10px;
}
