{% extends 'SistemaRegistros/base.html' %}

{% block title %}
  Eliminar Visita
{% endblock %}

{% block content %}
    <section class="seccion-fondo-claro">
        <div class="m-2 p-2">
            <h2 class="mb-4">
                Eliminar registro de visita
                <span><i class="bi bi-trash"></i></span>
            </h2>
            <form method="POST">
                {% csrf_token %}
                <p>¿Estás seguro de que deseas eliminar la visita de: "{{ visita.nombre }}"?</p>
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-primary" href="{% url 'lista_visitas' %}" >Cancelar</a>
            </form>
        </div>
    </section>
{% endblock %}