{% extends 'SistemaRegistros/base.html' %}

{% block title %}
    Lista de Visitantes
{% endblock %}

{% block main %}
    <div class="p-4">
        <ul>
            {% for visitante in visitantes %}
                <li>■ RUT: {{ visitante.rut }}</li>
                <li>■ Nombre: {{ visitante.nombre }}</li> 
                <li>■ Motivo de la visita: {{ visitante.motivo_visita }}</li> 
                <li>■ Fecha de la visita: {{ visitante.fecha_visita }}</li> 
                <li>■ Hora de entrada a la empresa: {{ visitante.hora_entrada }}</li>
                <li>■ Hora de salida de la empresa: {{ visitante.hora_salida }}</li>        
            {% endfor %} 
        </ul>
    </div>
{% endblock %}