<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Visitantes</title>
</head>
<body>
    <ul>
        {% for visitante in visitantes %}
            <li>{{ visitante.rut }}</li>
            <li>{{ visitante.nombre }}</li> 
            <li>{{ visitante.motivo_visita }}</li> 
            <li>{{ visitante.fecha_visita }}</li> 
            <li>{{ visitante.hora_visita }}</li>    
        {% endfor %} 
    </ul>
</body>
</html>

