{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'SistemaRegistros/css/base.css' %}">
    <link rel="icon" href="../../static/SistemaRegistros/images/pc-display.svg" type="image/svg+xml">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand m-2" href="{% url 'lista_visitas' %}" style="font-family: monospace;">
                <i class="bi bi-cpu fs-3"></i>
                PepitoTech
            </a>
            <div>
                <a class="btn btn-outline-light mx-2" href="{% url 'lista_visitas' %}">Inicio</a>
                <a class="btn btn-outline-light mx-2" href="{% url 'lista_completa' %}">Listado Completa de Visitas</a>
                <a class="btn btn-outline-light mx-2" href="{% url 'registrar_visita' %}">Registrar Visita</a>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
  
    <footer class="pie-pagina d-flex flex-column align-items-center justify-content-center">
        <div class="footer-text">
            <h5 class="mb-3 fw-bold text-center">Contactos</h5>
            <ul style="font-family: monospace;" class="list-unstyled mb-0">
                <li><i class="bi bi-envelope-at"></i> Gmail: javiermendezsepulveda19@gmail.com</li>
                <li><i class="bi bi-telephone"></i> Teléfono: +56 9 5310 5615</li>
                <li><i class="bi bi-geo-alt"></i> Dirección: Comuna de Lampa en Santiago, Chile</li>
            </ul>
        </div>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="https://github.com/javierpepito/skills-introduction-to-github" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/javierpepito-m%C3%A9ndez-sepulveda-5b8810360/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/javier___pepito/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="mailto:javiermendezsepulveda19@gmail.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-envelope"></i>
            </a>
        </div>
        <div class="copyright">Creado por Javier Méndez (2025) &#169;</div>
    </footer>

</body>
</html>

